/* Footer.css */
.footer-class{
    padding-top: 0px;
    width: 100%;
    background-color: #e0e0e0;
}
.footer-text-class {
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: bold;
}

    /* */