/* NavBar.css */
.navbar-title-class {
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.navigation-parent-class {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 30px;
}

.navigation-left-class {
    display: flex; /* 빼먹으면 작동 X */
    margin-top: 20px;
    margin-left: 100px;
    width: 600px;
    gap: 30px;
    /*flex-basis: 30px; /* 아이템의 기본 크기 */
    flex-direction: row; /* 가로 방향으로 정렬 */
     /* justify-content: space-evenly; /* 메인축으로 아이템 정렬하는 방향 */
}

.searchbar-parent-class {
    display: flex;
    margin-top: 10px;
    /*gap: 20px;*/
}
.searchbar-class {
    height: 40px;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0px;
    padding: 0 16px;
}
.search-button-class {
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    margin-right: 40px;
    padding: 0 16px;
}

.login-button-parent-class {
    display: flex;
    height: 50px;
    margin-top: 20px;
    justify-content: flex-end;
}
.login-button-class {
    display: flex;
    justify-content: center;  
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    text-decoration: none; /* 밑줄 제거 */
    margin-top: 5px;
    min-height: 20px;
    min-width: 60px;
    margin-right: 40px;
}
.logout-button-class {
    display: flex;
    justify-content: flex-end;
    
    background-color: white;
    border-radius: 6px;
    text-align: center;
    margin-top: 5px;
    height: 40px;
    margin-right: 40px;
}


.navigation-button-class {
    display: inline-block; /* 버튼처럼 너비/높이/패딩을 적용하기 위해 */
    min-width: 40px;
    padding: 10px 10px; /* 내부 여백 (위아래 10px, 좌우 20px) */
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 251, 251);
    min-width: 60px;
    transition: transform 0.2s ease; /* 호버 애니메이션 */
    margin-right: 10px;
    
    border-radius: 20px;
}
.navigation-button-class:hover {
    transform: translateY(-3px); /* 살짝 위로 올라가는 효과 */
}


.about-class {
    bottom:-100px;
}
    /* */