/* NavBar.css */
.navigation-parent-class {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation-left-class {
    display: flex; /* 빼먹으면 작동 X */
    width: auto;
    align-items: center;
    gap:10px;
    /*flex-basis: 30px; /* 아이템의 기본 크기 */
    flex-direction: row; /* 가로 방향으로 정렬 */
     /* justify-content: space-evenly; /* 메인축으로 아이템 정렬하는 방향 */ 
}

.navigation-button-class{
    display: flex;

    justify-content: center;  
    align-items: center;
    text-align: center;
    
    
    padding: 3px 3px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none; /* 밑줄 제거 */
    width: auto;
    height: 50%;
}
.navigation-button-class:hover {
    transform: translateY(-8px);
}

.searchbar-parent-class {
    
    width: 50%;
    min-width: 60px;
    margin-top: 10px;
    /*gap: 20px;*/
}
.searchbar-class {
    width: 100%;
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
}
.search-button-class {
    font-size: 12px;
    background-color: rgba(68, 153, 231, 0.993);
    height: 100%;
    color: black;
    text-decoration: none;

    justify-content: center;  
    align-items: center;
    text-align: center;
}

.login-button-parent-class {
    display: flex;
    height: 50px;
    margin-top: 20px;
    justify-content: flex-end;
}
.login-button-class {
    display: flex;
    justify-content: center;  
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    min-height: 20px;
    min-width: 60px;
    margin-right: 40px;
    text-decoration: none;
}
.logout-button-class {
    display: flex;
    justify-content: flex-end;
    
    background-color: white;
    border-radius: 6px;
    text-align: center;
    margin-top: 5px;
    height: 40px;
    margin-right: 40px;
}
.login-button-class:hover {
    transform: translateY(-3px); /* 살짝 위로 올라가는 효과 */
}





.about-class {
    bottom:-100px;
}
    /* */