.register-keydata-parent-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 60px;
    gap: 20px;
}
.register-profileImg-left-class {
    display: flex;
    flex-direction: column;
}
.preview-img-class {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
}

.input-class {
    width: 200px;
    align-self: center;
    padding: 8px 10px;
}

.register-button-box-class {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* 상단/하단 동일 간격 */
    
}
.register-button-class {    
    display: flex;
    border-radius: 6px;
    padding: 6px 6px;
    background-color: rgba(68, 153, 231, 0.993) !important;
    color: black !important;
    height: 50px;
    width: auto;
    text-align: center;
    align-self: center; /* x축 가운데 정렬 */
    margin-bottom: 20px;
}

.register-text-class {
    margin-left: 20px;
}